{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Register</h1>
  <form
    method="POST"
    action="{{ url_for('auth.signup') }}"
    class="w-50 mx-auto"
  >
    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        class="form-control"
        required
      />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        required
      />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        required
      />
    </div>

    <div class="mb-4">
      <label for="user_type" class="form-label">User Type:</label>
      <select id="user_type" name="user_type" class="form-select" required>
        <option value="regular">Regular User</option>
        <option value="admin">Admin</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary w-100">Register</button>
  </form>
</div>
{% endblock %}
